*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    width: 100%;
    padding: 1rem;
}


table{
    width: 100%;
    margin-bottom: 2rem;
}

th{
    background-color: #3575ff;
    color: #fff;
}

tr:nth-child(even){
    background-color: #dbdbdb;
}

table, td, th{
    /* */
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th:hover{
    background-color: #1b63ff;
}

tr:hover:nth-child(even){
    background-color: #d7d6d6;
}

tr:hover:nth-child(odd){
    background-color: #efefef;
}

.heading1{
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

/* input[type='text']{
    width: 100px;
} */

form{
    border: 1px solid #3575ff;
    padding: 30px;
    width: 365px;
    border-radius: 5px;
    margin-left: 37%;
    box-shadow: 5px 8px 5px #efefef;
}

label, button{
    font-size: 20px;
}

input{
    margin-top: 1rem;
    padding: 10px;
    width: 300px;
}

select{
    text-align: center;
}

button, select{
    margin-top: 1rem;
    padding: 8px 7px;
    width: 300px;
}


button > a{
    text-decoration: none;
    color: #fff;
}

button{
    background-color: #1b63ff;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #3575ff;
}

input[type=text], input[type=password]{
    border: 1px solid #494949;
    border-radius: 4px;
}

.col1{width: 8.33%;}
.col2{width: calc(8.33% * 2);}
.col3{width: calc(8.33% * 3);}
.col4{width: calc(8.33% * 4);}
.col5{width: calc(8.33% * 5);}
.col6{width: calc(8.33% * 6);}
.col7{width: calc(8.33% * 7);}
.col8{width: calc(8.33% * 8);}
.col9{width: calc(8.33% * 9);}
.col10{width: calc(8.33% * 10);}
.col11{width: calc(8.33% * 11);}
.col12{width: calc(8.33% * 12);}

[class*='col']{
    float: left;
    padding: 15px;
}

.row{
    padding: 2rem 1rem;
}